
<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Login
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <p text-center>Sign in with details you registered with</p>
    <form (ngSubmit)="logForm()">
    <ion-item>
        <ion-label>Username</ion-label>
          <ion-input type='text' [(ngModel)]='login.uname' name='username'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type='password' [(ngModel)]='login.pass' name='pass'></ion-input>
  </ion-item>
  <button ion-button type="submit" block (click)="goHome()">Login</button>
  </form>
  <P>New user registration plat form:
  <button ion-button block (click)="goRegister()">Sign Up</button>
  </ion-content>
