<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register Page
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p text-center>Enter the below details to register</p>
  <form (ngSubmit)="regForm()">
  <ion-item>
    	<ion-label>Username</ion-label>
      	<ion-input type='text' [(ngModel)]='register.uname' name='username1'></ion-input>
</ion-item>
<ion-item>
	<ion-label>Gender</ion-label>
	<ion-input type='gender' [(ngModel)]='register.gender' name='gender1'></ion-input>
</ion-item>
<ion-item>
	<ion-label>ID NIN</ion-label>
	<ion-input type='NIN' [(ngModel)]='register.NIN' name='NIN1'></ion-input>
</ion-item>
<ion-item>
	<ion-label>E-mail</ion-label>
	<ion-input type='Mail' [(ngModel)]='register.Mail' name='Mail1'></ion-input>
</ion-item>
<ion-item>
	<ion-label>Password</ion-label>
	<ion-input type='password' [(ngModel)]='register.pass' name='pass1'></ion-input>
</ion-item>
<button ion-button type="submit" block (click)="registerDetails()">Sign Up</button>
</form>
</ion-content>
