<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CONTACT</ion-title>
  </ion-navbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
     @Lira Municipality
  </ion-toolbar>
</ion-footer>

<ion-content padding>
  <ion-card>
<ion-card-header>
  <h2>OUR LOCATION</h2>
</ion-card-header>
<p>Located at Obote Avenue</p>
</ion-card>

<ion-card>
<ion-card-header>
<h2>CELL PHONE NUM</h2>
</ion-card-header>
+256771997816
</ion-card>

<ion-card>
<ion-card-header>
<h2>E-MAIL ADDRESS</h2>
</ion-card-header>
Email: info@bakershotel.ug.com
</ion-card>
</ion-content>
